{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, you're not eligible for a juggling licence
      </h1>

      <p>Sorry, you're not eligible or a juggling licence because you're rubbish at juggling.</p>

      <p>Read more <a href="/url/of/onward/page">about this topic</a>.</p>

    </div>
  </div>

{% endblock %}
